.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
  &_color_black {
    color: #000000;
  }
  &_color_white {
    color: #ffffff;
  }
}
