h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0;
  margin: 0;
}

.list,
.connection,
.benefit-list,
.feature-list,
.team__list,
.criteria,
.portfolio,
.social-list,
.clients-list,
.mob-menu-list,
.mob-menu-tel,
.mob-menu-mail,
.mob-menu-socials {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
