:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --bgc-main: #ffffff;
  --bgc-darck: #2f303a;
  --bgc-light: #f5f4fa;
  --icon-color: #afb1b8;
}
